<div class="overview">
  <div class="tabs">
    <p>New</p>
    <p>Scanning</p>
    <p>Image Processing</p>
    <p>Shading</p>
    <p class="active">Completed</p>
  </div>
  <br/>
  <div class="materials">
    <ul>
      <li *ngFor="let material of materials">
        <mat-card class="example-card" mat-raised-button (click)="openDialog(material.id)">
          <img mat-card-image src="{{material.gallery_image}}" alt="balls">
          <mat-card-content>
            <span>{{material.id}}</span><br>
            <span id="tag">{{material.tags}}</span>
            <p>
              {{material.name}}
            </p>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
