<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/images/colormass-logo-cm.svg" width="50" height="50" alt="Logo">

    <span class="example-spacer"></span>

    <button mat-button>Models</button>
    <button mat-button class="current">Materials</button>
    <button mat-button>Images</button>
    <button mat-button>Users</button>
    <button mat-button>Customers</button>
    <button mat-button>Tags</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
